<div class="entryCredentials">
  <h1 class="welcome"> Welcome to Burguer Queen </h1>
  <img
    src="../assets/Images/png-clipart-computer-icons-encapsulated-postscript-dish-dish-love-food-removebg-preview.png"
    alt="menu">
  <h4>Please put your credentials here:</h4>
  <form action="/home" [formGroup]="contactForm">
    <label for="email">Email</label>
    <input type="email" name="email" formControlName="email" required>
    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']" class="input-error">This field is required</div>
    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']" class="input-error">Please, enter your email </div>
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" required>
    <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['required']" class="input-error">This field is required</div>
    <div *ngIf="contactForm.get('password')?.touched && contactForm.get('password')?.errors?.['minlength']" class="input-error">Password must be at least 6 characters long.</div>
    <a><button type="submit" [disabled]="contactForm.invalid" >Login</button></a>
  </form>
</div>


<!-- (click)="logInUser()" -->